heorku login -i
malikshaharyar333@yahoo.com
Pakistan888@
git push heroku naveed:master -ff
heroku git:remote -a yourapp



git push heroku naveed:master -ff

{"success":true,"message":"success","data":{"id":"620be20e40dc1d0016da81a2","email":"info@exultcybersolution.com","role":{"isDeleted":null,"status":1,"_id":"6207d677eec414478389b639","roleName":"admin","createdAt":"2022-02-12T15:47:03.110Z","updatedAt":"2022-02-12T15:47:03.110Z","__v":0}},"accessToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2NDUxMDAwNzIsImV4cCI6MTY3NjY1NzY3MiwiYXVkIjoiNjIwYmUyMGU0MGRjMWQwMDE2ZGE4MWEyIiwiaXNzIjoiZXplZXRyYWNrZXJzLmNvbSJ9.vLn3Mwn6E-16Mr6jozipRT1oWIWp4l_a0sOgwYooKaQ"}